/*NAVBAR*/
/*.navbar {
  display: flex;
}
.nav-link {
  display: none;
}*/


/*PRESENTATION-IMAGE*/
.presentation-image {
  color: white;
  background-image: url("../images/present.jpg");
}


/*CONTAINER*/



/*MAINBAR*/



/*SIDEBAR */



/*FOOTER*/
