/*GENERAL SETTINGS*/

.logo {
  width: 120px;
  height: 60px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/*NAVBAR*/
.fixed-navbar {
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: white;
}
.bars-icon {
  padding: 0 1.5rem;
}
.nav-link {
  display: none;
}
.find-lens {
  margin-left: auto;
  padding: 0 1.5rem;
}


/*PRESENTATION-IMAGE*/
.presentation-image {
  color: white;
  background-image: url("../images/present.jpg");
}


/*CONTAINER*/



/*MAINBAR*/



/*SIDEBAR */



/*FOOTER*/
