/*GENERAL SETTINGS*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  width: 120px;
  height: 60px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
img {
  width: 100%;
  border-radius: 3%;
}

/*TEXT DIMENSIONS*/
.link,
#newsletter-text,
.article,
.footer input,
.footer button {
  font-size: 1.15em;
}

/*NAVBAR*/
.fixed-navbar {
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: white;
}
.bars-icon {
  padding: 0 1.5rem;
}
.nav-link {
  display: none;
}
.find-lens {
  margin-left: auto;
  padding: 0 1.5rem;
}


/*PRESENTATION-IMAGE*/
.presentation-image {
  display: block;
  margin: 60px 0 0 0;
  padding: 170px 10px 10px;
  width: 100%;
  background-image: url("../images/present.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-weight: normal;
  font-size: .8em;
}
.presentation-image h1 {
  color: white;
}


/*CONTAINER*/
.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}

.article {
  width: 100%;
  padding: 0 1em 1em;
}
.article p {
  margin-top: .4em;
  margin-bottom: .4em;
}

/*MAINBAR*/

/*SIDEBAR */
.sidebar-title {
  font-size: 1.5em;
  border-bottom: 5px solid black;
  margin-bottom: .5em;
}
.sidebar-title span {
  background-color: black;
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 0 .4em;
}

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
}
footer .logo {
  height: 29px;
  background-image: url("../images/logo-footer.png");
  margin: 1em 0;
}
.footer a {
  color: white;
}
#newsletter-text {
  color: white;
  margin: 1.5em 0 .5em;
}
.footer input,
.footer button {
  border-radius: .2em;
  border: 0;
  padding: .3em;
}
.footer button {
  background-color: #198afe;
  color: white;
  border: 1px solid white;
}

.links {
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
}
.link {
  flex: 1 50%;
  padding: .5em 0;
}

@media only screen and (min-width: 375px){
  .link,
  #newsletter-text,
  .article,
  .footer input,
  .footer button {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 768px){
  .link,
  #newsletter-text,
  .article,
  .footer input,
  .footer button {
    font-size: 1.6em;
  }
  .logo {
    height: 100px;
  }
  .bars-icon,
  .find-lens {
    padding: 0 2.5rem;
  }
  .presentation-image {
    margin: 100px 0 0 0;
    font-size: 1.1em;
  }
  .container {
    margin: 3em auto;
  }
  .sub-art{
    float: left;
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 1.4em;
  }
  .sub-art:nth-child(2n){
    clear: left;
  }
  .sidebar-title {
    font-size: 1.7em;
  }
  .link {
    flex: 1 33.3%;
    padding: .5em 0;
  }
}

@media only screen and (min-width: 1024px){
  .navbar .logo {
    margin: 0 2%;
  }
  .nav-link {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 900px;
  }
  .nav-link li {
    font-size: 1.2em;
    flex-grow: 1;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .mainbar {
    flex: 1 65%;
  }
  .sidebar {
    flex: 1 35%;
  }
  .sidebar-title {
    margin-left: 1em;
    margin-right: 1em;
  }
  .sub-art {
    font-size: 1.6em;
  }
}
